path {
  stroke: #fff;
  fill-rule: evenodd;
}

text {
  font-family: Arial, sans-serif;
  font-size: 12px;
}


/*弹出框的样式*/
.popUp{
  position: absolute;
  border: 2px solid #fff;
  background-color: lightskyblue;
  color: #fff;
  width: auto;
  height: auto;
  display: none;
  cursor: pointer;
  padding: 10px 20px;
}
.popUp h2{
  font-family: Arial SansSerif;
}