<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Zoomable Sunburst with Labels</title>


  <link rel="stylesheet" href="../css/Partition.css">


</head>

<body>

<!--popUp start
这是鼠标移入的时候出现的弹出框的html部分代码，可以将<div class="popUp"></div>标签里面的内容替换掉
-->
<div class="popUp">
  <!--可以替换的部分-->
  <!--<div class="popUp-img"><img src="/" alt=""></div>
  <div class="popUp-content">
    <p class="memberId">编号</p>
    <p class="achievement">业绩</p>
    <p class="achievement">业绩</p>
  </div>-->
  <!--可以替换的部分-->
</div>
<!--popUp end-->

<script src="../js/d3.v3.min.js"></script>

<script src="../js/Partition.js"></script>


</body>
</html>
